<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <title>Backbone App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
<body>

	<div class="container">
		<h1>Backbone App</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Author</th>
					<th>Title</th>
					<th>URL</th>
					<th>Action</th>
				</tr>
				<tr>
					<td><input class="form-control author-input"></td>
					<td><input class="form-control title-input"></td>
					<td><input class="form-control url-input"></td>
					<td><button class="btn btn-primary add-blog">Add</button></td>
				</tr>
				<tbody class="blogs-list">
					
				</tbody>
			</thead>
		</table>
	</div>
	
	
	<script type="text/template" class="blogs-list-template">
						<td><%= author%></td>
						<td><%= title%></td>
						<td><%= url%></td>
						<td>
							<button class="btn btn-warning edit-blog">Edit</button>
							<button class="btn btn-danger delete-blog">Delete</button>
							<button class="btn btn-success save-blog" style="display:none">Save</button>
							<button class="btn btn-danger cancel-blog" style="display:none">Cancel</button>
							
						</td>
					</script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="js/script.js"></script>
</body>
</html>